name: salasto_test_task
description: "Shubek Lubek - Iraqi Storytelling App"
publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ^3.10.1

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  flutter_bloc: ^8.1.3
  equatable: ^2.0.5
  flutter_screenutil: ^5.9.0
  google_fonts: ^6.2.1
  flutter_svg: ^2.0.10+1
  share_plus: ^10.1.4

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/
    - assets/icons/

  fonts:
    - family: Folker
      fonts:
        - asset: assets/fonts/FolkerRegular-4ngW9.otf
          weight: 400
